div.my_updates {
    position: relative;
    left: 50%;
    width: 700px;
    background-color: #E9EAED;
    margin-left: -410px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

form.update_form {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-left: 1px solid #DFE0E4;
    border-top: 1px solid #DFE0E4;
    border-right: 1px solid #BBC9D1;
    border-bottom: 1px solid #BBC9D1;
}

form.update_form textarea {
    width: 100%;
    height: 88px;
    display: block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-width: 0;
    border: 0;
}

form.update_form textarea::-webkit-input-placeholder { /* WebKit */
    color: #ADB6C1;
}

form.update_form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ADB6C1;
}

form.update_form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ADB6C1;
}

form.update_form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ADB6C1;
}

form.update_form div.options {
    text-align: right;
    height: 40px;
    padding: 10px;
    position: relative;
    font-size: 14px;
    background-color: #F6F7F8;
    color: #8897A7;
}

form.update_form div.location {
    border-top: 1px solid #E1E2E3;
}

form.update_form div.location div.info {
    padding: 10px;
    color: #ADB6C1;
}

form.update_form div.location iframe.map {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
}

form.update_form div.options button {
    position: relative;
    top: -4px;
    border: 0;
    outline-width: 0;
    font-size: 0;
    line-height: 0;
    margin-right: 5px;
}

form.update_form div.options button.visibility {
    position: absolute;
    top: 20px;
    left: 7px;
    background: url("../images/icons.png") -188px -2px no-repeat;
    background-size: 220px 50px;
    width: 31px;
    height: 24px;
}

form.update_form div.options button.visibility:hover {
    background-position: -188px -25px;
}

form.update_form div.options div.visibility_box {
    text-align: left;
    z-index: 9999;
    background-color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 25px;
    width: 150px;
    border-left: 1px solid #DFE0E4;
    border-top: 1px solid #DFE0E4;
    border-right: 1px solid #BBC9D1;
    border-bottom: 1px solid #BBC9D1;
}

form.update_form div.options div.visibility_box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form.update_form div.options div.visibility_box ul li {
    padding: 10px;
}

form.update_form div.options div.char_count {
    position: absolute;
    font-size: 16px;
    top: 22px;
    left: 40px;
}

form.update_form div.options div.char_count.exceeded {
    color: #ED3148;
}

form.update_form div.options button.location {
    background: url("../images/icons.png") -1px -2px no-repeat;
    background-size: 220px 50px;
    width: 24px;
    height: 24px;
}

form.update_form div.options button.location:hover {
    background-position: -1px -25.5px;
}

form.update_form div.options button.image {
    background: url("../images/icons.png") -24.5px -2px no-repeat;
    background-size: 220px 50px;
    width: 24px;
    height: 24px;
}

form.update_form div.options button.image:hover {
    background-position: -24.5px -24.6px;
}

form.update_form div.options button.blog {
    background: url("../images/icons.png") -49px -2px no-repeat;
    background-size: 220px 50px;
    width: 24px;
    height: 24px;
}

form.update_form div.options button.blog:hover {
    background-position: -49px -24px;
}

form.update_form input {
    color: #FFFFFF;
    margin-left: 10px;
    background-color: #ED3148;
    width: 120px;
    height: 40px;
    outline-width: 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
}

form.update_form input:hover {
    background-color: #CE2D42;
}

form.update_form input:disabled {
    background-color: #8697A6;
}

ul.updates_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.updates_list li.update_box {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-left: 1px solid #DFE0E4;
    border-top: 1px solid #DFE0E4;
    border-right: 1px solid #BBC9D1;
    border-bottom: 1px solid #BBC9D1;
}

ul.updates_list li.update_box.fading-enter {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}

ul.updates_list li.update_box.fading-enter.fading-enter-active {
    opacity: 1;
}

ul.updates_list li.update_box.fading-leave {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

ul.updates_list li.update_box.fading-leave.fading-leave-active {
    opacity: 0.01;
}

ul.updates_list li.update_box div.update {
    padding: 10px;
    word-wrap: break-word;
}

ul.updates_list li.update_box div.options {
    height: 13px;
    padding: 10px;
    position: relative;
    font-size: 0.8em;
    background-color: #F6F7F8;
    color: #8897A7;
}

ul.updates_list li.update_box div.options div.info {
    position: absolute;
    width: 300px;
    right: 0;
    text-align: right;
    margin-right: 10px;
}

ul.updates_list li.update_box div.options button.delete {
    position: absolute;
    left: 7px;
    top: 5px;
    border: 0;
    outline-width: 0;
    font-size: 0;
    line-height: 0;
    background: url("../images/icons.png") -72px -2px no-repeat;
    background-size: 220px 50px;
    width: 24px;
    height: 24px;
}

ul.updates_list li.update_box div.options button.delete:hover {
    background-position: -72px -23px;
}

ul.updates_list li.update_box div.options div.info a {
    color: #8897A7;
}

ul.updates_list li.update_box div.options div.info a:hover {
    color: #788499;
}

div.paging button.page_button {
    color: #FFFFFF;
    background-color: #ED3148;
    width: 100%;
    height: 33px;
    outline-width: 0;
    border: 0;
    font-size: 12px;
    font-weight: bold;
}

div.paging button.page_button:hover {
    background-color: #CE2D42;
}